*~
.*sw?
\#*
.DS_Store

*.rej
*.orig

*.pro
/.makeconfig
/.tmakeconfig
/VERSION
/src/libdoxycfg.t
/src/libdoxygen.t
/packages/rpm/doxygen.spec
/libmd5/Makefile
/libmd5/Makefile.libmd5
/qtools/Makefile
/qtools/Makefile.qtools
/src/Makefile.doxygen
/src/Makefile.libdoxycfg
/src/Makefile.libdoxygen
/addon/doxysearch/Makefile
/addon/doxysearch/Makefile.doxyindexer
/addon/doxysearch/Makefile.doxysearch
/addon/doxmlparser/examples/metrics/Makefile
/addon/doxmlparser/src/Makefile
/addon/doxmlparser/test/Makefile
/addon/doxyapp/Makefile
/addon/doxywizard/Makefile
/addon/doxywizard/Makefile.doxywizard
/addon/doxywizard/config_lex.cpp
/addon/doxywizard/moc
/addon/doxywizard/obj
/addon/doxywizard/rcc
/winbuild/config_lex.cpp
/winbuild/moc
/winbuild/obj
/winbuild/rcc
*.idb
*.pdb
/examples/Makefile
/Makefile

/bin
/lib
/objects
/src/ce_lex.cpp
/src/ce_parse.cpp
/src/ce_parse.h
/src/code.cpp
/src/commentcnv.cpp
/src/commentscan.cpp
/src/config.cpp
/src/declinfo.cpp
/src/defargs.cpp
/src/doctokenizer.cpp
/src/fortrancode.cpp
/src/fortranscanner.cpp
/src/pre.cpp
/src/pycode.cpp
/src/pyscanner.cpp
/src/scanner.cpp
/src/tclscanner.cpp
/src/unistd.h
/src/version.cpp
/src/vhdlcode.cpp
/src/vhdlparser.cpp
/src/vhdlparser.h
/src/vhdlscanner.cpp
/src/Makefile

/doc/Makefile
/doc/translator_report.txt

/examples/*/html
/html
/latex
