*~
.*sw?
\#*
.DS_Store

*.rej
*.orig

*.pro
/.makeconfig
/.tmakeconfig
/VERSION
/src/libdoxycfg.t
/src/libdoxygen.t
/packages/rpm/doxygen.spec
/libmd5/Makefile
/libmd5/Makefile.libmd5
/qtools/Makefile
/qtools/Makefile.qtools
/src/Makefile.doxygen
/src/Makefile.libdoxycfg
/src/Makefile.libdoxygen
/addon/doxysearch/Makefile
/addon/doxysearch/Makefile.doxyindexer
/addon/doxysearch/Makefile.doxysearch
/addon/doxmlparser/examples/metrics/Makefile
/addon/doxmlparser/examples/metrics/Makefile.metrics
/addon/doxmlparser/src/Makefile
/addon/doxmlparser/src/Makefile.doxmlparser
/addon/doxmlparser/test/Makefile
/addon/doxyapp/Makefile
/addon/doxyapp/Makefile.doxyapp
/addon/doxywizard/Makefile
/addon/doxywizard/Makefile.doxywizard
/addon/doxywizard/config_doxyw.cpp
/addon/doxywizard/configdoc.cpp
/addon/doxywizard/moc
/addon/doxywizard/obj
/addon/doxywizard/rcc
/addon/doxmlparser/objects
/addon/doxmlparser/lib
/addon/doxmlparser/test/Makefile.xmlparse
/addon/doxmlparser/test/xmlparse.exe
/addon/doxmlparser/examples/metrics/obj
/addon/doxmlparser/examples/metrics/metrics.exe
/winbuild/config_lex.cpp
/winbuild/moc
/winbuild/obj
/winbuild/rcc
*.idb
*.pdb
/examples/Makefile
/Makefile

/bin
/lib
/objects
/src/ce_lex.cpp
/src/ce_parse.cpp
/src/ce_parse.h
/src/code.cpp
/src/commentcnv.cpp
/src/commentscan.cpp
/src/config.cpp
/src/declinfo.cpp
/src/defargs.cpp
/src/doctokenizer.cpp
/src/fortrancode.cpp
/src/fortranscanner.cpp
/src/pre.cpp
/src/pycode.cpp
/src/pyscanner.cpp
/src/scanner.cpp
/src/tclscanner.cpp
/src/version.cpp
/src/vhdlcode.cpp
/src/vhdlparser.cpp
/src/vhdlparser.h
/src/vhdlscanner.cpp
/src/configoptions.cpp
/src/Makefile
/src/bib2xhtml.pl.h
/src/compound.xsd.h
/src/constexp.cpp
/src/doxygen.bst.h
/src/doxygen.css.h
/src/doxygen.sty.h
/src/dynsections.js.h
/src/extsearch.js.h
/src/footer.html.h
/src/header.html.h
/src/index.xsd.h
/src/jquery_fx.js.h
/src/jquery_p1.js.h
/src/jquery_p2.js.h
/src/jquery_p3.js.h
/src/jquery_pt.js.h
/src/jquery_ui.js.h
/src/layout_default.xml.h
/src/navtree.css.h
/src/navtree.js.h
/src/resize.js.h
/src/search.css.h
/src/search.js.h
/src/search_functions.php.h
/src/search_opensearch.php.h
/src/svgpan.js.h


/doc/Makefile
/doc/translator_report.txt

/doxygen_docs
/doxygen.tag

/examples/*/html
/html
/latex
