/* page base colors */
--page-background-color: white;
--page-foreground-color: black;
--page-link-color: ##50;
--page-visited-link-color: ##60;

/* index */
--index-odd-item-bg-color: ##F9;
--index-even-item-bg-color: white;
--index-header-color: black;
--index-separator-color: #A0A0A0;

/* header */
--header-background-color: ##FA;
--header-separator-color: ##CC;
--header-gradient-image: url('nav_h.png');
--group-header-separator-color: ##99;
--group-header-color: ##44;
--inherit-header-color: gray;

--footer-foreground-color: ##33;
--citation-label-color: ##40;
--glow-color: cyan;

--title-background-color: var(--page-background-color);
--title-separator-color: ##70;
--directory-separator-color: ##AA;
--separator-color: ##66;

--blockquote-background-color: ##F8;
--blockquote-border-color: ##AA;

--icon-background-color: ##88;
--icon-foreground-color: white;
--icon-doc-image: url('doc.png');

/* brief member declaration list */
--memdecl-background-color: ##FA;
--memdecl-separator-color: ##E2;
--memdecl-foreground-color: #555;
--memdecl-template-color: ##60;

/* detailed member list */
--memdef-border-color: ##B4;
--memdef-title-background-color: ##E6;
--memdef-title-gradient-image: url('nav_f.png');
--memdef-proto-background-color: ##E3;
--memdef-proto-text-color: ##2b;
--memdef-proto-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
--memdef-doc-background-color: white;
--memdef-param-name-color: #602020;
--memdef-template-color: ##60;

/* tables */
--table-cell-border-color: ##37;
--table-header-background-color: ##47;
--table-header-foreground-color: ##ff;

/* labels */
--label-background-color: ##88;
--label-left-top-border-color: ##70;
--label-right-bottom-border-color: ##CC;
--label-foreground-color: white;

/** navigation bar/tree/menu */
--nav-background-color: ##FA;
--nav-foreground-color: ##45;
--nav-gradient-image: url('tab_b.png');
--nav-gradient-hover-image: url('tab_h.png');
--nav-gradient-active-image: url('tab_a.png');
--nav-gradient-active-image-parent: url("../tab_a.png");
--nav-separator-image: url('tab_s.png');
--nav-breadcrumb-image: url('bc_s.png');
--nav-breadcrumb-border-color: ##CA;
--nav-splitbar-image: url('splitbar.png');
--nav-font-size-level1: 13px;
--nav-font-size-level2: 10px;
--nav-font-size-level3: 9px;
--nav-text-normal-color: ##30;
--nav-text-hover-color: white;
--nav-text-active-color: white;
--nav-text-normal-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
--nav-text-hover-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
--nav-text-active-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
--nav-menu-button-color: var(--nav-foreground-color);
--nav-menu-background-color: var(--page-background-color);
--nav-menu-foreground-color: #555555;
--nav-menu-toggle-color: rgba(255, 255, 255, 0.5);
--nav-arrow-color: ##AA;
--nav-arrow-selected-color: ##AA;

/* table of contents */
--toc-background-color: ##F6;
--toc-border-color: ##DD;
--toc-header-color: ##60;

/** search field */
--search-background-color: white;
--search-foreground-color: #909090;
--search-magnification-image: url('mag.svg');
--search-magnification-select-image: url('mag_sel.svg');
--search-active-color: black;
--search-filter-background-color: ##FA;
--search-filter-foreground-color: var(--page-foreground-color);
--search-filter-border-color: ##A0;
--search-filter-highlight-text-color: white;
--search-filter-highlight-bg-color: ##50;
--search-results-foreground-color: ##58;
--search-results-background-color: ##F0;
--search-results-border-color: black;
--search-box-shadow: inset 0.5px 0.5px 3px 0px #555;

/** code fragments */
--code-keyword-color: #008000;
--code-type-keyword-color: #604020;
--code-flow-keyword-color: #E08000;
--code-comment-color: #800000;
--code-preprocessor-color: #806020;
--code-string-literal-color: #002080;
--code-char-literal-color: #008080;
--code-vhdl-digit-color: #FF00FF;
--code-vhdl-char-color: #000000;
--code-vhdl-keyword-color: #700070;
--code-vhdl-logic-color: #FF0000;
--code-link-color: ##60;
--code-external-link-color: ##60;
--fragment-foreground-color: var(--page-foreground-color);
--fragment-background-color: ##FC;
--fragment-border-color: ##CC;
--fragment-lineno-border-color: #00FF00;
--fragment-lineno-background-color: #E8E8E8;
--fragment-lineno-foreground-color: black;
--fragment-lineno-link-fg-color: var(--code-link-color);
--fragment-lineno-link-bg-color: #D8D8D8;
--fragment-lineno-link-hover-fg-color: var(--code-link-color);
--fragment-lineno-link-hover-bg-color: #C8C8C8;
--tooltip-foreground-color: var(--fragment-foreground-color);
--tooltip-background-color: white;
--tooltip-border-color: gray;
--tooltip-doc-color: grey;
--tooltip-declaration-color: #006318;
--tooltip-link-color: var(--code-link-color);
--tooltip-shadow: 1px 1px 7px gray;

/** font-family */
--font-family-normal: Roboto,sans-serif;
--font-family-monospace: monospace,fixed;
--font-family-nav: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
--font-family-title: Tahoma,Arial,sans-serif;
--font-family-toc: Verdana,'DejaVu Sans',Geneva,sans-serif;
--font-family-search: Arial,Verdana,sans-serif;
--font-family-icon: Arial,Helvetica;
--font-family-tooltip: var(--font-family-normal)

