#nav-tree .children_ul {
  margin:0;
  padding:4px;
}

#nav-tree ul {
  list-style:none outside none;
  margin:0px;
  padding:0px;
}

#nav-tree li {
  white-space:nowrap;
  margin:0;
  padding:0;
}

#nav-tree .plus {
  margin:0px;
}

#nav-tree .selected {
  position: relative;
  background-color: var(--nav-menu-active-bg);
  border-radius: 0 6px 6px 0;
  /*margin-right: 5px;*/
}

@media (hover: none) {
  #nav-tree .selected .arrow {
    color: var(--nav-arrow-selected-color);
    text-shadow: none;
  }
}

@media (hover: hover) {
  #nav-tree .selected .arrow {
    color: var(--nav-menu-active-bg);
    text-shadow: none;
  }

  #nav-tree .selected:hover .arrow {
    color: var(--nav-arrow-selected-color);
  }
}

#nav-tree img {
  margin:0px;
  padding:0px;
  border:0px;
  vertical-align: middle;
}

#nav-tree a {
  text-decoration:none;
  padding:0px;
  margin:0px;
}

#nav-tree .label {
  margin:0px;
  padding:0px;
  font: 12px var(--font-family-nav);
}

#nav-tree .label a {
  padding:2px;
}

#nav-tree .selected a {
  text-decoration:none;
  color:var(--page-link-color);
}

#nav-tree .children_ul {
  margin:0px;
  padding:0px;
}

#nav-tree .item {
  margin:0 6px 0 0;
  padding:0px;
}

#nav-tree {
  padding: 0px 0px;
  font-size:14px;
  overflow:auto;
}

#doc-content {
  overflow:auto;
  display:block;
  padding:0px;
  margin:0px;
  -webkit-overflow-scrolling : touch; /* iOS 5+ */
}

#side-nav {
  padding:0 6px 0 0;
  margin: 0px;
  display:block;
  position: absolute;
  left: 0px;
  width: $width;
  overflow : hidden;
}

.ui-resizable .ui-resizable-handle {
  display:block;
}

.ui-resizable-e {
  transition: opacity 0.5s ease;
  background-color: var(--nav-splitbar-bg-color);
  opacity:0;
  cursor:ew-resize;
  height:100%;
  right:0;
  top:0;
  width:6px;
  position: relative;
}

.ui-resizable-e:after {
  content: '';
  display: block;
  top: 50%;
  left: 1px;
  width: 2px;
  height: 15px;
  border-left: 1px solid var(--nav-splitbar-handle-color);
  border-right: 1px solid var(--nav-splitbar-handle-color);
  position: absolute;
}

.ui-resizable-e:hover {
  opacity: 1;
}

.ui-resizable-handle {
  display:none;
  font-size:0.1px;
  position:absolute;
  z-index:1;
}

#nav-tree-contents {
  margin: 6px 0px 0px 0px;
}

#nav-tree {
  background-repeat:repeat-x;
  background-color: var(--nav-background-color);
  -webkit-overflow-scrolling : touch; /* iOS 5+ */
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.3s ease;
  border-right: 1px solid var(--nav-border-color);
  padding-left: 5px;
}

#nav-tree.hovered {
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-background-color);
}

#nav-sync {
  position:absolute;
  top:5px;
  right:24px;
  z-index:0;
}

#nav-sync img {
  opacity:0.3;
}

#nav-sync img:hover {
  opacity:0.9;
}

#nav-path ul {
  border-top: 1px solid var(--nav-breadcrumb-separator-color);
}

@media print
{
  #nav-tree { display: none; }
  div.ui-resizable-handle { display: none; position: relative; }
}

