/*---------------- Search Box */

.titlearea table {
    width: 100%;
}

dark-mode-toggle {
    position: absolute;
    right: 5px;
    padding-top: 3px;
}

#MSearchBox {
    position: absolute;
    right: 34px;
}

